* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    
}

#board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;
}

h1, .tiles {
    color: greenyellow
}

.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.right-border {
    border-right: 0.2em solid yellowgreen;
}

.bottom-border {
    border-bottom: 0.2em solid yellowgreen;
}

.strike {
    position: absolute;
    background-color: darkred;
    width: 100%;
    height: 3px;
}

.strike-0 {
   top: 16%;
   width: 100%;
    height: 3px;
}

.strike-1 {
   top: 50%;
   width: 100%;
    height: 3px;
}

.strike-2 {  
   top: 84%; 
   width: 100%;
    height: 3px;  
}

.strike-3 {
    left: 15%;
    height: 100%;
    width: 3px;
 }
 
 .strike-4 {
    left: 48.5%;
    height: 100%;
    width: 3px;
 }
 
 .strike-5 {  
    left: 83%; 
    height: 100%;
    width: 3px;  
 }
 
 .strike-6 {
    width: 90%;
    height: 3px;
    top: 48%;
    left: 5%;
    transform: skewY(-45deg);
 }

 .strike-7 {
    width: 90%;
    height: 3px;
    top: 50%;
    left: 5%;
    transform: skewY(45deg);
 }
 
 .game-over {
    text-align: center;
    border: 6px solid yellowgreen;
    padding: 50px;
    width: 60%;
    margin-top: 50px; 
 }

 h2 {
    color: yellowgreen;
    font-size: 2em;
    margin-top: 0;
 }

 button {
    background-color: transparent;
    color: yellowgreen;
    font-size: 1.5em;

 }

