/* Please Make only Rhino and Zebra Blue */
.top h2 {


    color: blue
}

/* Please Make only Hufflepuff Gold */

.middle h2 + h2 {
    color: gold
}

/* Please select Duck with the highest level of specificity possible*/

html body .areDucksDinosaurs .likesToQuack.fight1Or100 {
    color: red
}

/* Please select Rhino with the highest level of specificity possible */

html body .top #rhino.africa.fourLegs {
    color: green
}
