* {
    font-size: 10px;
}

.logo_img{
    width: 50px;
    height: 50px;
    margin: 5px;
}

.pokedex {
    width: 350px;
    height: auto;
    margin: 10% auto 5% auto;
    padding-bottom: 25px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px rgb(255, 0, 0);
}

.title {
    text-align: center;
    font-size: 3rem;
}

.user_search {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 1px solid rgb(1255, 222, 0);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px rgb(255, 222, 0);
}



.search_pokemon, .clear {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto 0 auto;
    height: 30px;
    width: 100px;
    font-size: 1.5rem;
    color: rgba(255, 222, 0, 1);
    background-color: rgba(59, 76, 202);
    border: 1px solid rgb(59, 76, 202);
    box-shadow: 1px 1px 5px 1px rgb(59, 76, 202)
}

.window {
    width: 80%;
    margin: 5% auto
}

.pokemon_image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: auto;
    height: 150px;
}

.pokemon_data {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 225px;
    overflow-y: scroll;
    background-color: rgb(252, 248, 248);
    border: 1px solid rgb(1255, 222, 0);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px rgb(255, 222, 0);
}

.pokemon_data * {
    font-size: 18px;
}

.pokemon_name, .pokemon_species, .pokemon_type, .pokemon_id {
    height: 30px;
    width: 80%;
    text-align: center;
    margin: 10px auto;
}

.pokemon_abilities,.pokemon_moves {
    height: auto;
    width: 70%;
    height: auto;
    text-align: center;
    margin: 10px auto;
    margin-top: 15%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

