body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: lightblue;
}

main {
    max-width: 600px;
    margin: 0 auto;
    border: 5px solid lime;
    padding: 3rem;
}

h1 {
    text-align: center;
}

img {
    float: right;
    width: auto;
    height: 250px;
}

section + section {
    display: flex;
    align-items: center;
    justify-content: center;
}

section + section a img {
    height: 30px;
    width: auto;
    padding: 10px;
}